*{
    margin:0px;
    padding:0px;
}


.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner-container{
    width:350px;
    display:flex;
    flex-direction: column;
    border-radius: 5%;
    
}
.display > * {
    display: flex;
    justify-content: right;
    height: 50px;
    width: 340px;
    font-size: 1.6rem;
    color: white;
    background-color: rgb(47, 53, 56);
}

button{
    width: 70px;
    height: 70px;
    margin:7px;
    border-radius: 20%;
    background-color: rgb(217, 243, 70);
    font-size: 1.5rem;
}
body{
    background-color: rgb(47, 53, 56);
}